sources/AndroidApplication/app/build/.DS_Store
sources/AndroidApplication/app/build/generated/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/debug/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/br/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/br/eti/.DS_Store
sources/AndroidApplication/app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/br/eti/caratti/.DS_Store
sources/AndroidApplication/app/build/generated/renderscript_source_output_dir/.DS_Store
sources/AndroidApplication/app/build/outputs/.DS_Store
sources/AndroidApplication/app/build/outputs/apk/.DS_Store
sources/AndroidApplication/app/src/.DS_Store
sources/AndroidApplication/app/src/.DS_Store
sources/.DS_Store
.DS_Store
sources/AndroidApplication/.DS_Store
